body{
	margin:0;
} 
h1{
	margin:0;
	padding:2px;
}
p{
	padding:2px;
}
main{
	font-family:cursive;
	display:grid;
	grid-template-columns: 445px 1fr 1fr 445px; 
	grid-template-rows:1fr;
	grid-template-areas: "b1 b1 b1 b1"
						 "b2 b3 b3 b4"
						 "b2 b5 b6 b4"
						 "b7 b7 b7 b7";
}
body{
	min-width:445px;
}
.block1{
	background:#07e74a;
	grid-area:b1;
	min-width:445px;
}
.block2{
	background: #25df0d;
	grid-area: b2;
	width: 445px;
}
.block3{
	background: #00ff37;
	grid-area: b3;
}
.block4{
	background:#73ff00;
	grid-area: b4;
	width: 445px;
}
.block5{
	background:#88ee04;
	grid-area: b5;
}
.block6{
	background:#2b4e30;
	grid-area: b6;
}
.block7{
	background:#2daa38;
	grid-area: b7;
	min-width: 445px;
}


@media (max-width:800px)
{
	main{
	grid-template-columns: 1fr auto;
	grid-template-rows:1fr;
	grid-template-areas: "b1 b1"
						 "b2 b4"
						 "b2 b4"
						 "b3 b3"
						 "b5 b6"
						 "b7 b7";
}

}

@media (max-width:600px)
{

	main{
	grid-template-rows: 1fr;
	grid-template-areas: "b1"
						 "b2"	
						 "b3"
						 "b5"
						 "b6"
						 "b4"
						 "b7";
}
.block2{ width: 600px;}
.block4{width: 600px;}
}